
<ul class="list-group posts">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <h2><%= link_to post.title, post.url, target: "_blank" %></h2>
      <div>
        <span>
          by <%= post.user.email %>
          |
          12 likes
        </span>
      </div>
    </li>
  <% end %>
</ul>
